<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav id="navbar" class="navbar navbar-expand-md navbar-light bg-light sticky-top fixed-top border-bottom border-primary" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{~/}">
                <img th:src="@{/img/edenbank.png}" alt="logo" width="80" height="80" >
                <span class="ml-5">edenbank</span>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/}">Startseite</a>
                    </li>
                    <li class="nav-item ml-5" sec:authorize="isAnonymous()">
                        <a class="nav-link"  th:href="@{~/login}">Anmelden</a>
                    </li>
                    <li class="nav-item ml-5" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{~/overview}">Übersicht</a>
                    </li>
                    <li class="nav-item ml-5" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{~/logout}">Abmelden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>