:root {
    --navbar-height: 120px;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#navbar {
    height: var(--navbar-height);
    opacity: 95%;
}

.content-container {
    background: url("../img/highrise.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
}

*:focus {
    box-shadow: none !important;
}

.form-container {
    background: #ffffff;
    opacity: 95%;
}